.body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4)
}


.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../assets/icons/back.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../assets/icons/next.png)
}

.title-message {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  text-align: center;
  z-index: 3;
  margin-top: -80px;
}

.title-message .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  letter-spacing: 10px;
}

.title-message .heading .main {
  font-size: 50px;

}


.title-message .heading .sub {
  font-size: 25px;
}

.quick-contact {
  position: absolute;
  width: 100%;
  top: 15%;
  z-index: 3;
  margin-top: -80px;
  padding-right: 50px;
  justify-content: left;
}

.quick-contact .top-right {
  display: inline-block;
}

.quick-contact .top-right a,
.quick-contact .top-right i {
  color: #bdc3c7;
  margin-bottom: 5px;

}

.quick-contact .top-right p {
  color: #bdc3c7;
  margin-bottom: 5px;

}

.qr-container {
  width: 100%;
  top: 15%;
  position: absolute;
}

.qr-container img {
  height: 140px;
  padding-top: 5px;
  padding-left: 85%;
}


.quick-contact .top-right ul {
  list-style-type: none;
}



.section {
  padding: 100px 0;
}

.about-image {
  max-width: 100%;
  border-radius: 10px;
}

.skills-section,
.contact-section {
  background-color: #e74c3c;
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;

  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: '%';
}

.square-item {
  margin-top: 30px;
  position: relative;
}

.square-inner-container {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.square-inner-container:before,
.square-inner-container:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444
}

.square-inner-container:before {
  right: 0px;
}

.square-inner-container:after {
  left: 0px;
}

.square-content h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

.square-content h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.square-icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contact-button {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.contact-button:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #444;
}

.filter a {
  color: #bdc3c7;

  border: 1px solid #bdc3c7;

  padding: 8px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.items-container {
  width: 100%;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 25px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  display: inline-block;

  -webkit-transition: all 0.2s linear, 0.3s;
  -moz-transition: all 0.2s linear, 0.3s;
  -o-transition: all 0.2s linear, 0.3s;
  -ms-transition: all 0.2s linear, 0.3s;
  -transition: all 0.2s linear, 0.3s;
}

.items .image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .image-overlay {
  opacity: 1;
}

.items .open-button {
  float: left;
  opacity: 0;
  left: -200px;
}

.items .project-link {
  float: right;
  opacity: 0;
}

.items .item:hover .open-button {
  opacity: 1;
}

.items .item:hover .project-link {
  opacity: 1;
}


.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.copyright-section {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyright-section p {
  margin: 0;
}

#navigation {
  background-color: #e74c3c;
  padding: 10px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;

}

#navigation li a {
  color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../assets/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../assets/gif/loader.gif) center center no-repeat;
}

/* .container p {
  text-align: justify;
}

.container h6 {
  font-size: 12px;
} */